.a{
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
}
.b{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.c{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.d{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.e{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.f{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.g{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
.張楷恩{
    
}